NODE_ENV=production
TZ=UTC

#AutoScaler
*/5 * * * * cd /masoncards && /usr/local/bin/node /masoncards/api/auto/autoScale.js >> /var/log/cron.log 2>&1

# Monitoring of server deployment status
* * * * * cd /masoncards && /usr/local/bin/node /masoncards/api/auto/serverStatus.js >> /var/log/cron.log 2>&1
*/10 * * * * cd /masoncards && /usr/local/bin/node /masoncards/api/auto/serverPolling.js >> /var/log/cron.log 2>&1

# Automatic publication of round results
* * * * * cd /masoncards && /usr/local/bin/node /masoncards/api/auto/publishResults.js >> /var/log/cron.log 2>&1
* * * * * cd /masoncards && /usr/local/bin/node /masoncards/api/auto/autoBlastPairings.js >> /var/log/cron.log 2>&1

# Clear out old messages from Tabroom inboxes
15 9 * * * cd /masoncards && /usr/local/bin/node /masoncards/api/auto/clearInboxes.js >> /var/log/cron.log 2>&1

# Clear out old sharenames once a week to prevent name collisions
15 8 * * 4 cd /masoncards && /usr/local/bin/node /masoncards/api/auto/clearShareRooms.js >> /var/log/cron.log 2>&1

# Clear out payment settings for security
30 8 * * 4 cd /masoncards && /usr/local/bin/node /masoncards/api/auto/clearPaymentKeys.js >> /var/log/cron.log 2>&1

# Synchronize Nats appearances because apparently people care
30 8 * * 4 cd /masoncards && /usr/local/bin/node /masoncards/api/auto/natsAppearances.js >> /var/log/cron.log 2>&1

# NSDA Learn Course Status
5,35 * * * * cd /masoncards && /usr/local/bin/node /masoncards/api/auto/syncLearnCourse.js >> /var/log/cron.log 2>&1

# NAUDL post to Salesforce
15 3 * * * cd /masoncards && /usr/local/bin/node /masoncards/api/auto/naudl/chapters.js >> /var/log/cron.log 2>&1
25 3 * * * cd /masoncards && /usr/local/bin/node /masoncards/api/auto/naudl/students.js >> /var/log/cron.log 2>&1
